/*Body/Content*/
body {
	background-color: #1f1414;
	margin: 0px;

}

div.content a{
	width: 22%;
	margin: 1%;
	float: right;
	padding-left: 240px;
}

/*img.alien {
	height: 80%;
	width: 80%;
}*/





/*Navigation Sidebar*/
.sidebar {
	margin: 0;
	padding: 0;
	width: 240px;
	background-color: #901d1d;
	position: fixed;
	height: 100%;
	overflow: auto;
	font-family: acme;
	text-align: center;

}

.sidebar h1:hover {
	color: #B79E38;
}

.sidebar a:hover {
	color: #B79E38;
}


.sidebar h1{
	margin-top: 100px;
	margin-bottom: 0px;
	display: block;
	color: #e2c41d;
	padding: none;
	text-transform: uppercase;
	text-decoration: none;
	font-family: creepster;
	font-size: 70px;

}

.sidebar a{
	margin: 0px;
	display: block;
	color: #e2c41d;
	padding: 5px;
	text-transform: uppercase;
	text-decoration: none;
}


#tagline {
	margin: 0px;
	display: block;
	color: #e2c41d;
	padding: 5px;
	text-transform: uppercase;
	font-family: creepster;
	font-size: 38px;

}

#faq {
	margin-top: 369px;
}

 #instagram {
	width: 15%;
	height: 15%;
	
}
